<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/styles2.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<div>
			<a href=""><img src="/assets/images/nitro-logo-w.png"></a>
			<h4>Reminder:</h4>
			<h2>The Nitro Unwind feat. IT Olympics</h2>
		</div>
	</header>

	<section id="message">
		<p>Hi [NAME],</p>
		<p>Just wanted to shoot you a friendly reminder that The Nitro Unwind feat. IT Olympics 
			is coming up on <strong>Tuesday, 8 April</strong> - and your name is on the list at the door!</p>
		<div id="event-details-container">
			<h3>The Nitro Unwind feat. IT Olympics</h3>
			<div id="event-specifics">
				<table>
					<tr>
						<td>When: </td>
						<td><strong>Tuesday, 8 April 2014, 6pm-9pm</strong></td>
					</tr>
					<tr>
						<td>Where: </td>
						<td><strong>Nitro, Level 4, 236 Bourke St, Melbourne</strong></td>
					</tr>
					<tr>
						<td>What: </td>
						<td><strong>Craft beers and wines, hand grooming</strong></td>
					</tr>
					<tr>
						<td></td>
						<td><strong>and the IT Olympics</strong></td>
					</tr>
				</table>
			</div>
			<img src="/assets/images/ethernet.png">
		</div>
		<p>If you have any questions, feel free to give us a holler at 03 9929 0430 before the big 
			day. Otherwise, come ready to meet likeminded individuals, compete in the IT Olympics, 
			and enjoy the appreciation you deserve.</p>
		<p>Can't wait to see you!</p>
		<p>Team Nitro</p>
		<hr>
		<div id="message-footer">
			<h3>Can't go? That's okay, just let us know.</h3>
			<a href="#">Politely decline here &raquo</a>
		</div>
	</section>

	<footer>
		<div id="made-in-aus">
			<h3>Made in Australia</h3>
		</div>
		<ul>
			<li><a href=""><img src="/assets/images/facebook.png"></a></li>
			<li><a href=""><img src="/assets/images/twitter.png"></a></li>
			<li><a href=""><img src="/assets/images/linkedin.png"></a></li>
			<li><a href=""><img src="/assets/images/google.png"></a></li>
			<li><a href=""><img src="/assets/images/youtube.png"></a></li>
			<li><a href=""><img src="/assets/images/instagram.png"></a></li>
		</ul>
		</br>
		<p>You subscribed to news, tips and special email from nitropdf.com.au</p>
		<p><a href="">Unsubscribe</a> from these emails.</p></br>
		<p>&copy; Nitro PDF Pty. Ltd. Level 4 | 246 Bourke Street, Melbourne, VIC 3000 | Victoria, Australia</p>
		<p>&copy; Nitro Software, Inc.</p>
	</footer>

</body>
</html>